
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include google-analytics.html %} 
  <link rel="icon"
      type="image/png"
      href="./assets/images/sky-music-logo.png">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ '/js/indexDarkModeScript.js' }}"></script>
{% seo %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>Sky Music</h1>
        </a>
        <h3><p style="color:white">Visual Music Sheets for the game Sky: Children of the Light</p></h3>
        {% if site.github.is_project_page %}
          <a href="https://sky-music.github.io/" class="button"></a>
        {% endif %}
        {% if site.github.is_user_page %}
          <a href="https://sky-music.github.io/" class="button"></a>
        {% endif %}
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
{% include search-google.html %}       
          <h2><u>Shortcuts to:</u></h2>
          <h3><a href="https://sky-music.github.io/">Visual Music Sheets</a></h3>
          <h3><a href="./how-to-read.html">How to Read a music sheet</a></h3>
          <h3><a href="./make-your-own-sheet.html">Make your own music sheet</a></h3>
          <h3><a href="./discord.html">Our Discord</a></h3>
          <h2><u>External Links</u></h2>
          <h3><a href="https://sky-children-of-the-light.fandom.com/wiki/Sky_Music_Guide" target="_blank">Sky Music Guide Wiki</a></h3>
          <h3><a href="https://jmmelko.eu.pythonanywhere.com">Sheet maker and converter (Midi/Json/text/html)</a></h3>
          <h3><a href="https://specy.github.io/skyMusic/" target="_blank">Sky-Music Instrument Simulator and Composer</a></h3>
          <h3><a href="https://discordapp.com/invite/thatskygame" target="_blank">Official Sky Discord</a></h3>
          <h2><u>Sky Musicians on YouTube</u></h2>
          <h3><a href="https://www.youtube.com/channel/UCOto7vg04znzuFVnyXdIpwA" target="_blank">Alkis D</a></h3>
          <h3><a href="https://www.youtube.com/channel/UCJeRpUbuo6uF19zchjy-_Pw" target="_blank">Fiqo Mendez</a></h3>
          <h3><a href="https://www.youtube.com/channel/UCmW0obFm3_1VYeW8AQNpwag" target="_blank">Fox Mask</a></h3>
          <h3><a href="https://www.youtube.com/channel/UCAT4yg4ATRRI5-0TWfA5-wA" target="_blank">Hebi Ire</a></h3>
          <h3><a href="https://www.youtube.com/channel/UCfZWn60hIOCvndq32NYa8Vw" target="_blank">ikina sky</a></h3>
          <h3><a href="https://www.youtube.com/channel/UCwkIIaRG4GXsu3kUoW_XBNQ" target="_blank">Kirie</a></h3>
          <h3><a href="https://www.youtube.com/channel/UCgfm4MIgqaYkEyC1P0XCz-A" target="_blank">None-のん</a></h3>
          <h3><a href="https://www.youtube.com/channel/UCyyVxqrM2eiZZ_SG1550YkQ" target="_blank">Planaria</a></h3>
          <h2><u>Credits</u></h2>
          <h3><a href="https://github.com/sky-music/sky-python-music-sheet-maker" target="_blank">Python Sheet Maker</a> created by Tracey and jmmelko</h3>
          <h3>with help from: Specy, Roux Karlux (skyventuree) Jirassimok</h3>
          <h3>Kai00 for publishing users' songs on this website</h3>
          <h3>SVG icons are thanks to <a href="http://madwurmz.com" target="_blank">madwurmz</a>.</h3>
          <h2><u>Contributors</u></h2>
          <h3>Tracey</h3>
          <h3>Sera</h3>
          <h3>Bait</h3>  
          <h3>Edpliskin89</h3>
          <h3>Mel</h3>  
          <h3>Nezara</h3>  
          <h3>Peri</h3>  
          <h3>mimizan</h3>  
          <h3>redleaf29</h3>  
          <h3>Tarhiel</h3>  
          <h3>Octodillo</h3>
          <h3>damiante</h3>
          <h3>Eduwimdy</h3>
          <h3>SkyOwlKey</h3>
          <h3>Hjowe</h3>
          <h3>kai00</h3>
          <h3>yeom</h3>
          <h3>justmeandmysalmon</h3>
          <h3>Jonathan Xu</h3>
          <h3>Istari</h3>
          <h3>Sam</h3>
          <h3>kage (@sky)</h3>
          <h3>IsaDaCool</h3>
          <h3>nikudons</h3>
          <h3>Nezumi</h3>
          <h3>iara</h3>
          


        </aside>
      </div>
    </div>

  </body>
</html>
